#p0
{
    font-size: large;
    padding-left: 50px;
    padding-right: 50px;
    background-color:lavender;
    color:maroon;
   
}

#p1
{
    font-weight: 540;
    font-size: 1.35cm;  
}

#p2
{
    padding-left: 800px;
    
}
#p3
{
    font-style: italic;
    font-size: larger;
    font-family: sans-serif;
    font-weight: bolder;
    color:palevioletred;
}
#p4
{
    padding-left: 130px;
    
}

#p5
{
    padding-left: 140px;
    font-size: larger;
    font-weight: 500;
}

#p6
{
    padding-left: 140px;
    padding-right: 140px;
}

#p7
{
    list-style-type: none;
    padding-left: 70px;
    padding-right: 350px;
    
}

#p8
{
    padding-top: 30px;
}

#p9
{

}

#p10
{
    padding-right: 100px;
    font-size: larger;
    font-style: italic;
    font-weight:bolder;
    color:palevioletred;
    
}

#p11
{
    padding-right: 1100px;
    padding-top: 20px;
    font-size: larger;
    font-weight: 500;
    color:indigo;
    font-weight: bold;
}

#p12
{
    padding-bottom: 45px;
    border-bottom :1px solid black;
    border-right-width: 100%;
    font-size:5mm;

}

#p13
{
    padding-bottom: 5px;
    font-size: 5.5mm;
}

#p14
{
    font-size: medium;
    font-size:5mm;
}

li {
    float: left;
    padding-left: 200px;
}

#p15
{
    padding-left: 180px;
}

#p16
{
    padding-left: 490px;
}

#p17
{
    padding-left: 510px;
}

#p18
{
    font-family: sans-serif;
    font-style: italic;
    font-size: larger;
    color:palevioletred;
}